section.title
  div.name Cadastro Mercadoria

section.cadastro
  form(name="mercadoriaForm" novalidate)
    div.form-mercadoria

      div.input-container.size20
        label.label(for="codigo") Código
        div.messageValidation(data-ng-messages="mercadoriaForm.codigo.$error", role="alert", data-ng-if="true")
          div(data-ng-messages-include="partials/main/messages-validation")

        input.input(name="codigo",
                    type="text",
                    data-ng-model="mercadoria.codigo",
                    maxlength="64",
                    minlength="1",
                    required)

      div.input-container.size40
        label.label(for="nome") Nome
        div.messageValidation(data-ng-messages="mercadoriaForm.nome.$error", data-ng-if="mercadoriaForm.nome.$touched")
          div(data-ng-messages-include="partials/main/messages-validation")

        input.input(name="nome",
                    type="text",
                    data-ng-model="mercadoria.nome",
                    maxlength="256",
                    minlength="2",
                    required)

      div.input-container.size40
        label.label(for="tipo") Tipo
        div.messageValidation(data-ng-messages="mercadoriaForm.tipo.$error", data-ng-if="mercadoriaForm.tipo.$touched")
          div(data-ng-messages-include="partials/main/messages-validation")

        input.input(name="tipo",
                    type="text",
                    data-ng-model="mercadoria.tipo",
                    maxlength="128",
                    minlength="2",
                    required)

      div.input-container.size40
        label.label(for="tipoNegocio") Tipo do Negócio
        div.messageValidation(data-ng-messages="mercadoriaForm.tipoNegocio.$error", data-ng-if="mercadoriaForm.tipoNegocio.$touched")
          div(data-ng-messages-include=      "partials/main/messages-validation")

        select.input(name="tipoNegocio",
                    type="text",
                    data-ng-model="mercadoria.tipoNegocio",
                    required)
          option(ng-repeat="opcao in opcoesTipoNegocio" value="{{opcao.id}}"){{opcao.value}}

      div.input-container.size30
        label.label(for="preco") Preço
        div.messageValidation(data-ng-messages="mercadoriaForm.preco.$error", data-ng-if="mercadoriaForm.preco.$touched")
          div(data-ng-messages-include="partials/main/messages-validation")

        input.input(name="preco",
                    type="text",
                    data-ng-model="mercadoria.preco",
                    data-ng-pattern="regex.soNumeros"
                    maxlength="6",
                    minlength="1",
                    ui.utils.masks="6"
                    required)

      div.input-container.size30
        label.label(for="quantidade") Quantidade
        div.messageValidation(data-ng-messages="mercadoriaForm.quantidade.$error", data-ng-if="mercadoriaForm.quantidade.$touched")
          div(data-ng-messages-include="partials/main/messages-validation")

        input.input(name="quantidade",
                    type="text",
                    data-ng-model="mercadoria.quantidade",
                    data-ng-pattern="regex.soNumeros"
                    maxlength="6",
                    minlength="1",
                    required)

    div.container-buttons(data-ng-if="!formDisabled")
      button.buttonsave(title="Salvar",
                                         data-ng-disabled="mercadoriaForm.$invalid",
                                         data-ng-class="{'disabled': mercadoriaForm.$invalid}",
                                         data-ng-click="salvar(mercadoria)") Salvar

      a.buttoncancel(data-ng-href="{{systemUri.mercadoriasCreate()}}",
                                      title="Cancelar") Cancelar

message-dialog(data-show="showDialog",
               data-titulo="tituloDialog",
               data-mensagem="mensagemDialog")
